{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('assets/js/custom/home.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="timeline" class="col-md-8 box-default">
                <h1 class="box-header">Publicaciones que le gustan a {{user.nick}}</h1>
                <br>
                <div class="count">
                    <span class="badge badge-info">Total de publicaciones: <span class="badge badge-light"> {{pagination.getTotalItemCount}}</span></span>
                </div>    
                <hr/>
                <div class="box-content">
                    {% for like in pagination %}
                        {%set publication = like.publication%}
                        <div class="publication-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="avatar">
                                        {% if publication.user.image == null %}
                                            <img src="{{asset('assets/images/default.png')}}" alt="">	
                                        {%else%}
                                            <img src="{{asset('uploads/users/'~publication.user.image)}}" alt="">
                                        {% endif %}
                                    </div>	                            
                                </div>
                                <div class="col-md-10 publication-item-content">
                                    <div class="row">
                                        <div style="padding:0;margin-top:15px;" class="col-md-9">
                                            <a class="pub-name-link" href="{{ path('user_profile',{'nickname': publication.user.nick}) }}">
                                                {{publication.user.name}} {{publication.user.surname}}
                                            </a>
                                            &nbsp;
                                            <span class="pub-nick">@{{publication.user.nick}}</span>
                                        </div>
                                        <div class="col-md-3">
                                            <span class="pub-date">
                                                {{publication.createdAt|long_time}}
                                            </span>
                                        </div>    
                                    </div>
                                    <br>        
                                    <div class="row">        
                                        <div class="box-default col-md-11">
                                            <p>{{publication.text}}</p>
                                        </div>
                                        <div class="col-md-1 like">
                                            <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == true%}hidden{%endif%} far fa-heart btn-like" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Me gusta"></span>
                                            <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == false%}hidden{%endif%} far fa-heart btn-unlike active" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="No me gusta"></span>
                                        </div>
                                    </div>
                                    <div class="row publication-options">            
                                        {%if (publication.user.id is defined) and (publication.user.id == app.user.id)%}
                                            <span data-id="{{publication.id}}" class="btn-delete-pub fas fa-trash-alt fas fa-images" aria-hidden="true"></span> 
                                        {%endif%}
                                        {% if(publication.document is defined) and (publication.document != null) %}
                                            <a href="{{asset('uploads/publications/documents/'~publication.document)}}" class="btn-doc fas fa-download" aria-hidden="true" target="_blank"></a>
                                        {%endif%}
                                        {% if(publication.image is defined) and (publication.image != null) %}
                                            <span class="btn-img fas fa-images" aria-hidden="true"></span>
                                            <div class="pub-image col-md-11">
                                                <img src="{{asset('uploads/publications/images/'~publication.image)}}" alt="">
                                            </div>
                                        {%endif%}
                                        
                                    </div>    
                                </div>
                            </div>
                            <hr>    
                        </div>
                    {% endfor %}
                </div>
                <div class="box-content">
                    {{knp_pagination_render(pagination)}}
                </div>
                <div class="clearfix"></div>
            </div>
        </div> 
    </div>
{%endblock%}
