{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{asset('assets/js/custom/profile.js')}}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="user-card" class="col-md-12">
                <div class="box-default">
                    <div class="col-md-7 profile-box">
                        <div class="avatar">
                            {% if user.image == null %}
                                <img src="{{asset('assets/images/default.png')}}" alt="">	
                            {%else%}
                                <img src="{{asset('uploads/users/'~user.image)}}" alt="">
                            {% endif %}
                        </div>    
                        <div class="name-surname">
                            <p><a href="{{ path('user_profile',{'nickname':user.nick}) }}">{{user.name}} {{user.surname}}</a><span class="nickname">&nbsp;@{{user.nick}}</span></p>
                            <p class="bio">{{user.bio}}</p>
                            <div class="clearfix"></div>                    
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    {% set user_stats = user|user_stats %}        
                    <div class="row">
                        <div class="col-md-3 following-data">
                            <a href="{{ path('following_users',{'nickname':app.user.nick}) }}">
                                <span class="label-stat">
                                    Siguiendo
                                </span>
                                <span class="number-stat">
                                    {{user_stats.following}}
                                </span>
                            </a>
                        </div>
                        <div class="col-md-3 following-data">
                            <a href="{{ path('followed_users',{'nickname':app.user.nick}) }}">
                                <span class="label-stat">
                                    Seguidores
                                </span>
                                <span class="number-stat">
                                    {{user_stats.followers}}
                                </span>
                            </a>
                        </div>
                        <div class="col-md-3 following-data">
                            <a href="{{ path('user_profile',{'nickname':app.user.nick}) }}">
                                <span class="label-stat">
                                    Publicaciones
                                </span>
                                <span class="number-stat">
                                    {{user_stats.publications}}
                                </span>
                            </a>
                        </div>
                        <div class="col-md-3 following-data">
                            <a href="{{ path('user_likes',{'nickname':app.user.nick}) }}">
                                <span class="label-stat">
                                    Me gustas
                                </span>
                                <span class="number-stat">
                                    {{user_stats.likes}}
                                </span>
                            </a>
                        </div>
                    </div>    
                </div>
                <br>
            </div>
        </div>
        <div id="timeline" class="col-md-7 box-default">
            <h1 class="box-header">Timeline</h1>
            <hr/>
            <div class="box-content">
                {% for publication in pagination %}
                    <div class="publication-item">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="avatar">
                                    {% if publication.user.image == null %}
                                        <img src="{{asset('assets/images/default.png')}}" alt="">	
                                    {%else%}
                                        <img src="{{asset('uploads/users/'~publication.user.image)}}" alt="">
                                    {% endif %}
                                </div>	                            
                            </div>
                            <div class="col-md-10 publication-item-content">
                                <div class="row">
                                    <div style="padding:0;margin-top:15px;" class="col-md-9">
                                        <a class="pub-name-link" href="{{ path('user_profile',{'nickname': publication.user.nick}) }}">
                                            {{publication.user.name}} {{publication.user.surname}}
                                        </a>
                                        &nbsp;
                                        <span class="pub-nick">@{{publication.user.nick}}</span>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="pub-date">
                                            {{publication.createdAt|long_time}}
                                        </span>
                                    </div>    
                                </div>
                                <br>        
                                <div class="row">        
                                    <div class="box-default col-md-11">
                                        <p>{{publication.text}}</p>
                                    </div>
                                    <div class="col-md-1 like">
                                        <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == true%}hidden{%endif%} far fa-heart btn-like" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Me gusta"></span>
                                        <span data-id="{{publication.id}}" class="{%if app.user|liked(publication) == false%}hidden{%endif%} far fa-heart btn-unlike active" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="No me gusta"></span>
                                    </div>
                                </div>
                                <div class="row publication-options">            
                                    {%if (publication.user.id is defined) and (publication.user.id == app.user.id)%}
                                        <span data-id="{{publication.id}}" class="btn-delete-pub fas fa-trash-alt fas fa-images" aria-hidden="true"></span> 
                                    {%endif%}
                                    {% if(publication.document is defined) and (publication.document != null) %}
                                        <a href="{{asset('uploads/publications/documents/'~publication.document)}}" class="btn-doc fas fa-download" aria-hidden="true" target="_blank"></a>
                                    {%endif%}
                                    {% if(publication.image is defined) and (publication.image != null) %}
                                        <span class="btn-img fas fa-images" aria-hidden="true"></span>
                                        <div class="pub-image col-md-11">
                                            <img src="{{asset('uploads/publications/images/'~publication.image)}}" alt="">
                                        </div>
                                    {%endif%}

                                </div>    
                            </div>
                        </div>
                        <hr>    
                    </div>
                {% endfor %}
            </div>
            <div class="box-content">
                {{knp_pagination_render(pagination)}}
            </div>
            <div class="clearfix"></div>
        </div>   
    </div>
{%endblock%}