{% extends "AppBundle:Layouts:layout.html.twig"%}
{% block javascripts %}
    {{parent()}}
    <script src="{{asset('assets/js/custom/users.js')}}"></script>
{%endblock%}    
{% block content %}
    <div class="container">
        <div class="col-lg-7 box-default">
            <h1>Resultado de busqueda</h1>
            <div class="count">
                <span class="label label-primary">
                    Usuarios encontrados: {{pagination.getTotalItemCount }}
                </span>
            </div>
            <hr/>
            <div class="box-content box-users">
                {% for user in pagination %}

                    <div class="col-lg-12 user-item">
                        <div class="avatar">
                            {% if user.image == null %}
                                <img src="{{asset('assets/images/default.png')}}" alt="">	
                            {%else%}
                                <img src="{{asset('uploads/users/'~user.image)}}" alt="">
                            {% endif %}
                        </div>
                        <div class="user-item-content">
                            <p>{{user.name}} {{user.surname}} - {{user.nick}}</p>
                            <p>{{user.bio}}</p>
                        </div>
                        {% if app.user.id != user.id %}
                            <div class="row">
                                <div class="col-md-8"></div>
                                <div class="col-md-4 buttons-following">
                                    <button class="btn btn-info btn-follow" 
                                            {% if app.user|following(user) == true %}
                                                hidden
                                            {% endif %}    
                                            data-followed="{{user.id}}">
                                        <span class="fas fa-check" aria-hidden="true"></span>
                                        Seguir
                                    </button>
                                    <button class="btn btn-info btn-unfollow" 
                                            {% if app.user|following(user) == false %}
                                                hidden
                                            {% endif %}
                                            data-followed="{{user.id}}">
                                        <span class="fas fa-times" aria-hidden="true"></span>
                                        Dejar de seguir
                                    </button>
                                </div>
                            </div>        
                        {% endif %}
                        <div class="clearfix"></div>
                        <hr/> 
                    </div>

                {% endfor %}
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {{knp_pagination_render(pagination) }}
                </ul>
            </nav>   
        </div>
    </div>
{%endblock%}
